{% extends "base.html" %}

{% block title %}{{ user.username }}'s Products{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">{{ user.username }}'s Products</h1>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
        {% for product in products %}
        <div class="col">
            {% include "components/product_card.html" %}
        </div>
        {% empty %}
        <div class="text-center">
            <p>No products available for this seller.</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}